@import 'variables.scss';

@media (max-width: $breakpoint_desktop) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .offices {
        height: auto;

        &__header {            
            padding-left: 30px;
            padding-right: 30px;

            & .dropdown__content {
                width: auto;
                left: 30px;
                right: 30px;
            }
        }

        &__tabs .tabs {
            &__list {
                gap: 20px;
            }
        }
    }

    .bonuses,
    .mission {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width: $breakpoint_tablet) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header {
        &__nav .nav {
            &__list {
                gap: 10px;
            }

            &__item {
                font-size: 14px;
            }
        } 
    }      

    .hero {
        padding-top: 27px;
        padding-bottom: 50px; 
    }

    .offices {
        margin-bottom: 50px;  

        &__header {
            padding-left: 15px;
            padding-right: 15px;             
            
            & .dropdown {
                &__button {
                    font-size: 20px;
                }

                &__content {
                    left: 15px;
                    right: 15px;
                    padding: 20px;
                }

                &__list {
                    gap: 10px;
                }

                &__item {
                    font-size: 16px;

                    & .region {
                        &__title {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        &__tabs .tabs{
            &__list {
               gap: 10px; 
            }

            &__btn {
                font-size: 16px;
            }
        }

        &__main {
            padding-top: 30px;
        }
    }

    .bonuses,
    .mission {
        margin-left: 15px;
        margin-right: 15px;
    }

    .mission {
        padding-top: 32px;
        padding-bottom: 32px;
        height: auto;        
    }
}

@media (max-width: $breakpoint_mobile) {
    .header {        
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        height: auto;
        padding: 16px 5px;

        &__nav .nav {
            &__list {
                flex-wrap: wrap;
                gap: 4px 10px;
            }
        }
    }   

    .hero {
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;

        &__title {
            margin-bottom: 10px;
            font-size: 28px; 
        }

        &__description {
            margin-bottom: 46px;
            text-align: left;
            font-size: 16px;
            line-height: 118%;
        }

        &__achievements {
            gap: 20px 10px;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 7px;
            padding-right: 7px;

            & .achievements{     
                &__item {
                    max-width: 180px;
                }
        
                &__value {
                    margin-bottom: 2px;
                    font-size: 40px;
                }
        
                &__description {
                    font-size: 16px;
                }
            }
        } 
    }

    .offices {
        &__header {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 16px 5px 21px 5px;
            height: auto;
            width: auto;

            & .dropdown {               
                &__content {         
                    height: auto;          
                    padding: 15px;
                }

                &__list {
                    justify-content: flex-start;
                    flex-wrap: wrap;                    
                }

                &__item {
                    font-size: 14px;

                    & .region {
                        &__title {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &__main {
            padding: 0;
        }
        
        &__tabs .tabs {
            &__list {
                flex-wrap: wrap;
                justify-content: flex-start;
                gap:30px 10px
            }

            &__btn {
                font-size: 14px;
    
                &--active::after {
                    bottom: -22px;
                }
            }
        }  
    }

    .mission {
        padding: 32px 5px;
        background-image: url(../images/Left-pattern-mobile.svg), url(../images/Right-pattern-mobile.svg);

        &__title {
            margin-bottom: 10px;
            font-size: 28px;
        }

        &__descrioption {
            font-size: 16px;
            line-height: 130%;
        }
    }

    .businesses {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;

        &__title {
            margin-bottom: 10px;
            font-size: 28px;
        }

        &__grid {
            grid-template-columns: 1fr;
        }

        &__card {
            .card {
                &__content {
                    height: 60px;
                    gap: 10px;
                    padding-left: 5px;
                    padding-right: 5px;
                }

                &__title {
                    font-size: 20px;
                }

                &__description {
                    font-size: 16px;
                }
            }
        }
    }

    .bonuses {
        height: auto;
        margin-top: 50px;
        margin-bottom: 48px;
        padding: 21px 5px;

        &__title {
            margin-bottom: 37px;
            font-size: 28px;
        }

        &__list {
            gap: 27px 10px;
            flex-wrap: wrap;
            padding-bottom: 21px;
        }

        &__item {
            width: 120px;
        }

        &__icon {
            height: 80px;
            width: 80px;

            & svg {
                width: 38px;
                height: 38px;
            }
        }

        &__description {
            font-size: 16px;
        }

        & .motivation {
            padding-top: 24px;
            text-align: center;

            &__title,
            &__subtitle {
                font-size: 22px;
            }

            &__subtitle {
                margin-bottom: 23px;
            }

            &__list {
                gap: 25px;
                flex-wrap: wrap;                
                padding-bottom: 4px;
            }
    
            &__item {
                width: 80px;
            }
    
            &__icon {
                height: 80px;
                width: 80px;
                
                & svg {
                    width: 38px;
                    height: 38px;
                }
            }
    
            &__description {
                font-size: 16px;
            }
        }
    }

    .teambuilding {
        padding: 0 20px 50px 20px;

        &__title {
            margin-bottom: 12px;            
            font-size: 28px; 
        }

        &__header {
            & .swiper-button-next,
            & .swiper-button-prev {
                display: none;
            }
        }

        & .swiper {
            margin-bottom: 0;
        }

        & .swiper-pagination {
            display: none;
        }
    }
}